
<div class="container">
<div class="row">

    <div class="col-md-6 offset-md mt-4">
    <h3>Reset Password </h3>
        <form>
            <form>
                <div class="form-group">
                  <label for="resetpassword email">Enter you login Id.</label>
                  <input type="email" 
                  class="form-control" 
                  id="resetpassword email" 
                 placeholder="Enter Email">
                </div>
               
                <div class="text-center text-md-left">
                  <a class="btn btn-primary" (click)="showme()" >Reset Password<i class="fa fa-paper-plane"></i></a>
              </div>
                
              </form>
        </form>
     </div>
        
    </div>
    </div>