


<ul class="nav" [ngStyle]="{'background-color': '#696969'}">

  <li class="nav-item">
    <a class="btn nav-link active"  aria-current="page" href="" [ngStyle]="{'color': '#000'}">Home</a>
  </li>

  <li class="nav-item">
    <a class="btn nav-link"  href="ContactUs" [ngStyle]="{'color': '#000'}">Contact Us</a>
  </li>

  <li class="nav-item">
    <a class="btn nav-link"  href="supportus" [ngStyle]="{'color': '#000'}">Support Us</a>
  </li>

  <li class="nav-item">
    <a class="btn nav-link" [routerLink]="['login']" routerLinkActive="active" [ngStyle]="{'color': '#000'}">Login</a>
  </li>

  <li class="nav-item active">
        <a class="btn nav-link"  [routerLink]="['register']" routerLinkActive="active" [ngStyle]="{'color': '#000'}">Register</a>
      </li>
      
  

</ul>




<!--App header-->
<app-header></app-header>
<div class ="container"></div>


<div id="demo" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>
<div class="carousel-inner">
  <div class="carousel-item active">
    <a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam"><img src="/assets/APJ.jpg" alt="A.P.J" width="1100" height="400"></a>
    <div class="carousel-caption">
      <h3>Dr.A.P.J.Abdul Kalam</h3>
      <p></p>
    </div>   
  </div>
  <div class="carousel-item">
    <a href="https://en.wikipedia.org/wiki/M._Visvesvaraya"><img src="/assets/visvesvaraya.jpg" alt="M.Visvesvaraya" width="1100" height="400"></a>
    <div class="carousel-caption">
      <h3>M.Visvesvaraya</h3>
      <p></p>
    </div>   
  </div>
  <div class="carousel-item">
    <a href="https://en.wikipedia.org/wiki/Kailash_Satyarthi"><img src="/assets/Kailash Satyarthi.jpg" alt="Kailash" width="1100" height="400"></a>
    <div class="carousel-caption">
      <h3 style="color:black;">Kailash Satyarthi</h3>
      <p></p>
    </div>   
  </div>
</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>


<h2 style="text-align:center">Proud Indians</h2>


<div class="row">
<div class="column">
  <div class="card">
    <img src="/assets/A.P.J .jpeg" alt="Dr.A.P.J.Abdul Kalam" style="width:100%">
    <div class="container">
      <h2>Dr.A.P.J.Abdul Kalam</h2>
      <p class="title" data-toggle="tooltip" data-placement="bottom" title="Field">Ex-President/Scientist</p>
      <p>Avul Pakir Jainulabdeen Abdul Kalam was an Indian aerospace scientist who served as the 11th President of India from 2002 to 2007. He was born and raised in Rameswaram, Tamil Nadu and studied physics and aerospace engineering.</p>
          <form method="get" action="Apj.bio.html">
  <a routerLink="APJ" routerLinkActive="active"><button class="button" >Click here to know more</button></a>
</form>
    </div>
  </div>
</div>


<div class="column">
  <div class="card">
    <img src="/assets/M. Visvesvaraya.jpeg" alt="M.Visvesvaraya" style="width:100%">
    <div class="container">
      <h2>M.Visvesvaraya</h2>
      <p class="title" data-toggle="tooltip" data-placement="bottom" title="Field">Civil engineer/Statesman</p>
      <p>Sir M. Visvesvaraya KCIE FASc, more commonly known as Sir MV, was an Indian civil engineer, statesman and the 19th Diwan of Mysore, serving from 1912 to 1919. He pursued his degree from one of the best and the 3rd oldest engineering college in Asia, College of Engineering, Pune.</p>

      <form method="get" action="M.visvesvaraya bio.html">
      <a routerLink="Visvesvaraya" routerLinkActive="active"><button class="button">Click here to know more</button></a>
</form>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="/assets/Kailash Satyarthi.jpeg" alt="Kailash Satyarthi" style="width:100%">
    <div class="container">
      <h2>Kailash Satyarthi</h2>
      <p class="title" data-toggle="tooltip" data-placement="bottom" title="Field">Social reformer</p>
      <p>Kailash Satyarthi is an Indian social reformer who campaigned against child labour in India and advocated the universal right to education</p>
 
      <form method="get" action="Kailash-bio.html">
      <a routerLink="Kailash" routerLinkActive="active"><button class="button">Click here to know more</button></a>
</form>
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
